<div class="navbar">

    <h1 class="h1">Admin</h1>

    <!-- <a routerLink="/viewAllFarmerDetails" class="fl" href="/#viewAllFarmerDetails" onclick="myFunction()"><b>Farmers List</b></a> -->
    <a href="#Farmer" routerLink="/farmers-list" class="f1" onclick="myFunction()"><b>ViewAllFarmers</b></a>
    <a routerLink="/viewAllSupplierDetails" class="sl" href="/#viewAllSupplierDetails" onclick="myFunction()"><b>Suppliers List</b></a>

    <a routerLink="/viewAllComplaintDetails" class="cl" href="/#viewAllComplaintDetails" onclick="myFunction()"><b>Complaint List</b></a>


    <a routerLink="/home" class="home" href="/#home" onclick="myFunction()"><b>Home</b></a>


    </div>
    <img class="logo" src="https://media.smallbiztrends.com/2018/09/shutterstock_1169830042.jpg" alt="cropImage">