<h1 class="h1"><u>AboutUs</u></h1>
<div class="card bg-dark text-white">
  <img class="card-img" src="https://media.istockphoto.com/id/1367756024/vector/green-watercolor-background-illustration.jpg?s=612x612&w=0&k=20&c=0NharLiQndU9LeBxt0Lr3RvjngfnUwokM3PhvWqWhV0="></div>
  <div class="card-img-overlay">
    <p class="card-text"><br><br>A Web project to help farmers ensure greater profitability through direct farmer to supplier communication.
      This service boosts business communication and brings transparency in the system.<br><br>
      This innovative site allows for good farmer, retailer and supplier communication. It allows farmers to login and communicate to respective dealers. The farmers may also submit their greviences and complaints to respective dealers or authorities using their farmer login on a separate complaints page and authorities will get acess to that page regularly using their login id and passwords.</p><br><br>
      <h2 class="h3">Scope</h2>
      <p class="scope">
        <br><br>Smart farming helps farmers to better understand the important factors such as water, topography, aspect, vegetation and soil types. This allows farmers to determine the best uses of scarce resources within their production environment and manage these in an environmentally and economically sustainable manner.<br><br>
      </p><br>
      <h2 class="acc">Our Best Accomplishments</h2>
        <ul class="ul">
          <li>Promoting Conservation.</li>
          <li>Building the Healthy Food Pipeline.</li>
          <li>Fostering Family Farm Agriculture.</li>
          <li>Developing Opportunities for Sustainable Agriculture Research and Advancing Organic Agriculture.</li>
          <li>Ensuring a Safe Food Supply.</li>
        </ul><br><br>
        <p class="cls"><br><br><br>The agricultural sector is of vital importance for the region. 
          It is undergoing a process of transition to a market economy, with substantial changes in the social, legal, structural, productive and supply set-ups, as is the case with all other sectors of the economy.<br><br>
          The farming system approach, therefore, assumes great importance for sound management of farm resources to enhance farm productivity, 
          reduce the degradation of environmental quality and improve the quality of life of farmers and above all to maintain sustainability in farm production and productivity.</p>
  </div>
