        <div class="navbar">
            <div class="w3-right w3-hide-small">
            <!-- <a routerLink="/home" class="home"  onclick="myFunction()">Home</a> -->
            <a routerLink="/aboutus" class="about" onclick="myFunction()">About-Us</a>
            <a routerLink="/contactus" class="contact" onclick="myFunction()">Contact-Us</a>
            <a routerLink="/login" class="admin" onclick="myFunction()">Admin</a>
            <a routerLink="/farmer-login" class="farmer" onclick="myFunction()">Farmer-login</a>
            <a routerLink="/supplier-login" class="admin" onclick="myFunction()">Supplier-login</a>
            <a routerLink="/signup" class="admin" onclick="myFunction()">Supplier-SignUp</a>
            <a routerLink="/farmer-signup" class="farmer" onclick="myFunction()">Farmer-SignUp</a>
           
           
        </div>
            <!-- <div class="dropdown">
                <button style="color: black" class="dropbtn">Login<i class="login"></i></button>
                <div class="dropdown-content">
                    <a href="#Admin" routerLink="/login" class="Admin" onclick="myFunction()">Admin</a>
                    <a href="#Farmer" routerLink="/login" class="Farmer" onclick="myFunction()">Farmer</a>
                    <a href="#Supplier" routerLink="/login" class="Supplier" onclick="myFunction()">Supplier</a>
                </div></div> -->
                <!-- <div class="dropdown">
                    <button style="color: black" class="dropbtn">SignUp<i class="signup"></i></button>
                    <div class="dropdown-content">
                        <a href="#Farmer" routerLink="/signup" class="Farmer" onclick="myFunction()">Farmer</a>
                        <a href="#Supplier" routerLink="/signup" class="Supplier" onclick="myFunction()">Supplier</a>
                    </div>

            </div> -->
            <img class="logo" src="https://media.smallbiztrends.com/2018/09/shutterstock_1169830042.jpg" alt="cropImage">
            <h1 class="h1">FARMING ASSISTANCE SYSTEM</h1>

                   
                   

